.navbar-default {
  background-color: #000;
  border: none;
  border-radius: 0 !important;
}

.mar-top{
  margin-bottom: 85px;
}

.navbar {
  margin-bottom: 0;
}

.nav-menu {
  min-height: auto !important;
}

.logo {
  width: 100px;
}

.navbar-brand {
  margin-left: 0 !important;
  height: auto !important;
  padding: 0 !important;
}

.ul-menu {
  margin-top: 22px;
}

.navbar-default .navbar-nav>li>a {
  padding: 10px 10px;
  font-size: 10px;
  letter-spacing: 2px;
  color: #f6d800;
  font-weight: 600;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #ffffff;
  background-color: #FF9800;
}

.header_top {
  position: relative;
  background: #000000;
  /* #363636; */
  min-height: 44px;
}

.full {
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}

.topbar-left {
  float: left;
}

.header_top ul {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

.header_top .topbar-left .list-inline {
  float: left;
  margin: 13px 0;
}

.header_top ul li {
  font-size: 13px;
  color: #fff;
  float: left;
}

.topbar-hightlight a {
  color: #fff;
  text-decoration: none;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  color: #ffffff;
  background-color: #FF9800;
}

.navbar-nav>li>.dropdown-menu {
  width: 250px;
  box-shadow: 0 5px 35px -18px #000;
  border: none;
  border-top: 3px solid #ff9801;
  border-bottom: 2px solid #ff9801;
  padding: 0;
  border-radius: 0;
}

.dropdown-menu>li>a {
  padding: 15px 20px 15px;
  font-size: 12px;
  font-weight: 500;
  background: #fff;
  color: #666;
  border-bottom: 1px solid #fc9603;
  transition: all .3s ease-in-out;
}

.dropdown-menu>li>a:hover, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background: #ff9801;
  color: #FFF;
  background-size: 100% 100%;
  /* border: none; */
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #000;
}

.navbar-default .navbar-toggle {
  border: none;
  background-color: #FFF;
}

.navbar-toggle {
  margin-top: 24px;
  border-radius: 0;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #fff;
}

.float-right {
  float: right;
}

.white_btn, .white_btn:hover {
  color: #FFF;
  text-decoration: none;
}

@media (max-width: 574px) {
  .logo {
    max-width: 100px;
  }

  .ul-menu {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .navbar-default .navbar-nav>li>a {
    background-color: #FFF;
    color: #222 !important;
  }

  .list-inline li {
    width: 100%;
    text-align: center;
  }

  .float-right {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
  }

  .white_btn {
    margin: 0;
    border-radius: 0;
    font-weight: 600;
    padding: 0 35px;
    background: #fff;
    color: #111;
    text-transform: none;
    text-shadow: none;
    min-width: 140px;
    height: 45px;
    line-height: 46px;
    font-size: 13px;
  }
}

.white_btn:focus, .white_btn:hover {
  color: #ff9801;
  text-decoration: none;
  outline: none;
}

.img-full {
  width: 100%;
}

.img-center {
  display: block;
  margin: auto;
}

footer {
  margin-top: 40px;
  background: #000000;
  text-align: center;
  color: #FFF;
  padding-top: 40px;
}

footer p {
  margin: 0;
}

.modal-content, .btn {
  border-radius: 0;
}

.mar-20 {
  margin-top: 20px;
}

.formLogin {
  padding: 0px 30px;
}

.formLogin .form-group {
  margin-bottom: 16px;
}

.formLogin input, .formLogin textarea {
  border-radius: 0 !important;
  font-size: 14px;
}

.blog-form {
  /* background-color: #e2e2e0; */
}

.btn-bottom {
  margin-bottom: 50px;
}

.register {
  cursor: pointer;
  text-align: center;
  display: block;
  margin-top: 10px;
  padding: 10px 30px !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  border: none !important;
  color: #337ab7 !important;
}

.btn-0 {
  margin-bottom: 0;
}

.has-feedback .smk-error-msg {
  font-size: 10px !important;
}

.alert {
  border-radius: 0;
}

.loading {
  width: 100%;
  height: 100vh;
  background-color: #000000c2;
  position: fixed;
  top: 0;
  z-index: 10000;
  cursor: progress;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading>img {
  width: 200px;
}

.mar-r-5 {
  margin-right: 5px;
}

.box-col {
  margin-top: 20px;
}

.box-col>h3 {
  margin: 0;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 30px;
}

.box-col>ul {
  list-style: none;
  text-align: left;
  padding: 0;
}

.box-col>ul>li {
  font-size: 12px;
  margin-bottom: 10px;
}
.box-col>ul>li>a,.box-col>ul>li>a:hover {
  color: #FFF;
}

.footer{
  padding: 15px;
  background-color: #ff9801;
  margin-top: 20px;
}
