.choose,.blog,.about{
  text-align: center;
  padding-top: 90px;
  /* padding-bottom: 60px; */
}

.blog{
  text-align: left;
}

.choose h2,.blog h2,.about h2{
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 20px;
}

.choose p,.about p{
  color: #898989;
  font-size: 20px;
  font-weight: 400;
  margin: 0 0 10px 0;
}
.main_heading{
  margin-bottom: 20px;
}

.blog .main_heading::after{
  margin-left: 0;
}
.main_heading::after{
  content: "";
  display: block;
  margin: 20px auto 0;
  width: 80px;
  height: 5px;
  background: #ff9801;
}

.page-title {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 15px;
}

.breadcrumb {
    background: transparent;
    padding: 0;
    margin: 0;
    color: #fff;
}

.title-holder {
    margin: 85px 0 0;
}


.btn-bottom {
  margin-top: 10px;
}

.btn-bottom button,.btn-bottom button:active,.btn-bottom button:focus,.btn-default:active:focus,.btn-bottom a,.btn-bottom a:active,.btn-bottom a:focus{
  padding: 10px 30px;
  border-radius: 0;
  background-color: #ff9801;
  border: 1px solid #af6800;
  color: #FFF;
  transition: all .3s ease-in-out;
}
.btn-bottom button:hover,
.btn-bottom a:hover{
  background-color: #FFF;
  border: 1px solid #ff9801;
  color: #ff9801;
}


.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
  outline: none;
}

.blue{
  background-color: #3c89cc !important;
  border: 1px solid #286090 !important;
  transition: all .3s ease-in-out;
}
.blue:hover{
  background-color: #FFF !important;
  color: #3c89cc !important;
  border: 1px solid #286090 !important;
}

.message-title,.link-disable{
  color: #ababab;
}

.link-write,.link-write:hover{
  color: #fff;
}

.title-form{
  padding: 0px 91px;
  text-align: center;
  margin-bottom: 20px;
}

.title-form > p{
  margin: 0;
}

.box-hr{
  text-align: center;
  margin: 20px 0;
}

.box-hr > span{
  padding: 0 20px;
  background-color: #FFF;
}

.box-hr > hr{
  margin-top: -12px;
  border-top: 1px solid #d6d6d6;
}

.forgot{
  text-decoration: underline;
}

.btn-facebook{
  color: #FFF !important;
  background-color: #2d88ff !important;
  border-color: #0b58bd !important;
}

.header-login{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  margin-bottom: 25px;
}

.header-login > p {
  margin: 0;
  padding: 0 20px;
  cursor: pointer;
}

.header-login >p.active{
  color: #ff9801;
}

.header-login > p:first-child{
  border-right: 1px solid #d4d4d4;
}
