.banner_section{
  background: url(../../../images/bg/banner.jpg);
  min-height: 245px;
  background-size: cover;
  background-position: center center;
}

.main_heading{
  margin-bottom: 80px;
}

.order{
  text-align: left;
}

.about-content{
  text-align: left;
}

.about-content p{
  font-size: 14px;
}

.message{
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #c8c8c8;
  transition: ease all 0.5s;
}
.message:hover{
  box-shadow: 0 0 25px -17px #000;
}
.message h3{
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}
.message p{
  font-size: 12px;
  margin: 10px 0px 5px 0px;
}
.view{
  display: block;
  font-size: 14px;
  text-align: center;
  margin: 10px;
}
.btn-bottom.pull-left{
  margin-top: 0;
}
.modal-title{
  text-align: left;
}

.modal-body{
  text-align: left;
}
