input.inputtoogle[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label.Toggle1 {
	cursor: pointer;
	text-indent: -9999px;
	width: 55px;
	height: 25px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label.Toggle1:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input.inputtoogle:checked + label.Toggle1 {
	background: #ff9801;
}

input.inputtoogle:checked + label.Toggle1:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label.Toggle1:active:after {
	width: 0px;
}

// centering
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}






