.banner_section{
  background: url(../../../images/bg/banner.jpg);
  min-height: 245px;
  background-size: cover;
  background-position: center center;
}

.main_heading{
  margin-bottom: 50px;
}

.formLogin{
  padding: 0 50px;
}

.formLogin .form-group{
  margin-bottom: 10px;
}

.formLogin input, .formLogin textarea{
  border-radius: 0 !important;
  font-size: 14px;
}

.blog-form{
  /* background-color: #e2e2e0; */
}

.btn-bottom{
  margin-bottom: 50px;
}

.register{
  cursor: pointer;
  text-align: center;
  display: block;
  margin-top: 10px;

  padding: 10px 30px !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  border: none !important;
  color: #337ab7 !important;
}


.panel-default{
  border: none;
}

@media (max-width: 574px){
  .formLogin {
      padding: 0 0px;
  }
}

.panel-default:last-child{
  margin-top: -38px;
}
/* .about-content{
  text-align: left;
}

.about-content p{
  font-size: 14px;
} */
