.banner_section{
  background: url(../../../images/bg/banner.jpg);
  min-height: 245px;
  background-size: cover;
  background-position: center center;
}

.main_heading{
  margin-bottom: 80px;
}
.about-content{
  text-align: left;
}

.about-content h3{
  margin-top: 0px;
}
.title{
  margin: 30px 0 !important;
}

.about-content p{
  font-size: 14px;
}

.side_bar_blog {
  margin-bottom: 50px;
  float: left;
  width: 100%;
}

/* .tags{
  margin: 0;
  padding: 0;
  outline: none !important;
} */

.tags ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.tags li{
  float: left;
  margin-right: 8px;
  margin-bottom: 8px;
}
.tags a {
  border: solid 1px #e1e1e1;
  border-radius: 50px;
  padding: 0 18px;
  float: left;
  min-height: 50px;
  line-height: 50px;
  transition: all .3s ease-in-out;
}
.tags a:hover, .tags a:focus {
  text-decoration: none;
  color: #fff !important;
  border: solid #ff9801 1px !important;
  background-color: #ff9801 !important;
}

.about-content > .calenda{
  margin-top: -20px;
  font-size: 12px;
  color: #000;
}

@media (min-width: 992px){
  .rep {
      width: 780px;
      max-width: 780px;
  }
}

.commant-text {
    border-bottom: solid #ddd 1px;
    padding-bottom: 25px;
    padding-top: 25px;
}
.commant-text p{
  font-size: 15px;
}
.commant-text .profile {
    text-align: center;
}

.text-title-comment{
  margin: 30px 0px;
  text-decoration: underline;
}

.img-c{
  width: 100px !important;
  height: 100px !important;
  border-radius: 5rem !important;
}

.gallery{
  margin: 40px 0;
}
