.banner_section{
  background: url(../../../images/bg/banner.jpg);
  min-height: 245px;
  background-size: cover;
  background-position: center center;
}

.blog .post_time{
  margin: 0 !important;
}

.main_heading{
  margin-bottom: 80px;
}

.menu-tab{
  text-align: left;
}

.menu-tab ul{
  list-style: none;
}

.menu-tab ul li{
  display: inline-block;
}

.container{
  position: relative;
}

.pdd-t-0{
  padding-top:0;
}

.blog-profile{
  position: relative;
  width: 100%;
  margin-bottom: 45px;
  text-align: left;
}

.blog-profile > img{
  margin-top: -58px;
  display: inline-block;
  width: 150px;
  border-radius: 50%;
  border: 4px solid #fff;
}

@media only screen and (max-width: 600px) {
  .blog-profile > img{
    display: block;
    margin: auto;
    margin-top: -35px;
  }
}

.blog-profile > .profile-name{
  display: inline-block;
}

.blog-profile > .profile-name > h2{
  margin: 0;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 15px;
}

.blog-profile > .profile-name > p{
  font-size: 12px;
  margin-left: 15px;
}

.blog-profile > .btn-bottom{
  float: right;
}

.profile-input{
  margin-top: 30px;
}

.profile-input .formLogin{
  padding: 0px;
}

.create-blog{
  cursor: pointer;
  width: 100%;
  height: 200px;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dotted #b7b7b7;
  transition: all .2s ease-out .1s;
}


.create-blog > span{
  font-size: 16px;
  margin-top: -10px;
  margin-right: 5px;
  color: #bbb;
  transition: all .2s ease-out .1s;
}

.create-blog > p{
  margin-top: 1px;
  color: #bbb;
  transition: all .2s ease-out .1s;
}

.create-blog:hover{
  border: 2px dotted #868686;
}

.create-blog:hover > span,.create-blog:hover > p{
  color: #868686;
}

.blog .post_time{
  margin: 20px 0 15px;
}
.post_time p{
  color: #707070;
  line-height: 21px;
  margin: 0;
  font-size: 14px;
}
.blog h4{
  margin: 5px 0 8px 0;
  color: #000;
  line-height: 15px;
  font-size: 16px;
  font-weight: 600;
  text-transform: none;
}
.blog p{
  font-size: 13px;
  color: #707070;
  line-height: 21px;
  /* text-align: justify; */
}

.a-content{
  text-decoration: none !important;
}

.blog-content{
  border-bottom: 3px solid #ff9801;
  transition: all .2s ease-in .1s;
}

.content{
  padding: 10px;
}

.blog-content:hover{
  box-shadow: 0px 0px 5px 0px #c3c3c3;
}

.content > h4{
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content > p{
  height: 4em;
  white-space: wrap;
  text-overflow: ellipsis;
}

.mar-30{
  margin-top: 30px;
}

input[type='file'].form-control{
  border:none;
  box-shadow:unset !important;
  padding-left: 0px;
}

.ck.ck-editor__main>.ck-editor__editable {
    min-height: 200px;
}

.logout{
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}
