@media (max-width: 767px) {
  div.classShowMini {
    display:block !important;
  }
  div.classShow {
    display:none !important;
  }
}

@media (min-width: 768px) {
  div.classShowMini {
    display:none !important;
  }
  div.classShow {
    display:block !important;
  }
}


.card>.badge {
    position: absolute;
    top: -3px;
    right: -10px;
    font-size: 18px;
    font-weight: 400;
    padding-top: 5px;
}



.labelS{
  line-height: 40px;
  text-align:right;
  margin-bottom: 0px;
}


.tableClass{
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #3a4342;
}
.tableClass thead tr
{
    height: 40px;
    background-color: #3a4342;
    color: #FFFFFF;
    font-weight: bold;
  }

.tableClass tbody tr
{
  height: 40px;
  background-color: #FFFFFF;
  color: #3a4342;
  font-weight: bold;
  border: 1px solid #3a4342;
}

.tableClass tbody tr td
{
  padding: 10px;
  line-height: 14px;
  background-color: #FFFFFF;
}
.tableClass tbody tr td:nth-child(1)
{
  border-right: 1px dotted #3a4342;
}

.icon-user{
    text-align: right;
    color: #b9b9b9;
    border-right: 1px solid #3a4342;
}
.count-p{
    font-size: 11px;
    color: #b9b9b9;
    position: absolute;
    bottom: 7px;
    right: 24px;
}
.icon-arrow{
    position: absolute;
    font-size: 33px;
    font-weight: bold;
    top: 6px;
    right: 10px;
    color: #606362;
}

.card {
    transition: all .3s linear;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: .35rem;
    cursor: pointer;
}
.card:hover
{
  background-color: #fffff7;
}

.text-success {
    color: #1cc88a!important;
}

.text-warning {
    color: #f6c23e!important;
}

.border-left-primary {
    border-left: .40rem solid #4e73df!important;
}

.border-left-success {
    border-left: .40rem solid #1cc88a!important;
}

.border-left-info {
    border-left: .40rem solid #36b9cc!important;
}

.border-left-warning {
    border-left: .40rem solid #f6c23e!important;
}

.shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}

.pb-2, .py-2 {
    padding-bottom: .5rem!important;
}

.h-100 {
    height: 100%!important;
}

.h5, h5 {
    font-size: 2.25rem;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
.mr-2, .mx-2 {
    margin-right: .5rem!important;
}

.mb-0, .my-0 {
    margin-bottom: 0!important;
}

.fa-2x {
    font-size: 2.5em;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.align-items-center {
    align-items: center!important;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.text-gray-800 {
    color: #5a5c69!important;
}

.text-gray-300 {
    color: #dddfeb!important;
}

.text-xs {
    font-size: 2.5rem !important;
}

.font-weight-bold {
    font-weight: 400!important;
}

.no-gutters>.col, .no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
}

.no-gutters .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 0;
    /* color: rgba(0,0,0,0.15); */
}

.no-gutters:hover .icon {
    font-size: 1.2em;
}
