.card {
  margin-bottom: 30px;
  min-height: 250px;
}

.card img {
  display: block;
  margin: auto;
  width: 100px;
}

.card h4 {
  padding: 0 25px;
  line-height: 40px;
  font-size: 18px;
  color: #000;
  font-weight: 600;
  text-transform: none;
  margin: 30px 0 20px 0;
}

.card h4::first-letter {
  font-size: 350%;
}

.blog .post_time {
  margin: 20px 0 15px;
}

.post_time p {
  color: #707070;
  line-height: 21px;
  margin: 0;
  font-size: 14px;
}

.blog h4 {
  margin: 10px 0 15px 0;
  color: #000;
  line-height: 21px;
  font-weight: 600;
  text-transform: none;
}

.blog p {
  font-size: 13px;
  color: #707070;
  line-height: 21px;
  /* text-align: justify; */
}

.service {
  cursor: pointer;
  position: relative;
}

.service-content {
  margin-top: 40px;
}

.service .text-overflow {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #0000009e;
  padding: 15px;
}

.service .text-overflow p {
  font-size: 20px;
  margin: 0;
  color: #ead220;
  line-height: 26px;
}

.service .text-overflow p:last-child {
  font-size: 14px;
}

.service {
  margin-bottom: 30px;
}

.contact_us_section {
  padding: 25px 50px;
  position: relative;
  z-index: 10;
  /* margin-top: 80px; */
  /* float: left; */
  width: 90%;
  margin: auto;
  height: 120px;
  margin-top: -60px;
  background: #ff9801;
}

.contact_us_section .inner_cont {
  float: left;
  width: 63%;
}

.contact_us_section h2 {
  margin: 8px 0 5px 0;
  font-size: 28px;
  font-weight: 700;
  color: #fff;
}

.contact_us_section p {
  margin: 0;
  color: #fff;
  font-size: 13px;
}

.contact_us_section .button_Section_cont {
  width: 30%;
  float: right;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.contact_us_section .button_Section_cont a {
  float: right;
  border: none;
  margin: 10px 5px 0px 0px;
}

.btn.dark_gray_bt {
  background: #252525;
  min-width: 150px;
  height: 45px;
  line-height: 46px;
  font-size: 13px;
  border-radius: 100px;
  padding: 0;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 10px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
  position: relative;
  transition: all .3s ease-in-out;
}

.contact_us_section .btn.dark_gray_bt:hover, .contact_us_section .btn.dark_gray_bt:focus {
  background: #fff;
  color: #252525;
  text-shadow: none;
}

@media (max-width: 767px) {
  .contact_us_section {
    padding: 25px 20px;
    float: left;
    width: 100%;
    position: relative;
    height: auto;
    margin-top: 0;
  }

  .contact_us_section .inner_cont {
    margin-bottom: 10px;
  }

  .contact_us_section .inner_cont {
    float: left;
    width: 100%;
    padding-left: 15px;
  }

  .contact_us_section h2 {
    margin: 8px 0 5px 0;
    font-size: 27px;
    font-weight: 700;
    color: #fff;
  }

  .contact_us_section .button_Section_cont {
    width: 100%;
    float: right;
    display: flex;
    justify-content: center;
  }
}

.eps {
  height: 5em;
  white-space: wrap;
  text-overflow: ellipsis;
}

.a-content {
  text-decoration: none !important;
}

.blog-content {
  transition: all .2s ease-in .1s;
}

.content {
  padding: 10px;
  text-align: left;
}

.blog-content:hover {
  box-shadow: 0px 0px 5px 0px #c3c3c3;
}

.pdd-t-0 {
  padding-top: 0;
}

/* .box-img {
  max-height: 140px;
  width: 100%;
  overflow: hidden;
} */

.carousel {
  position: relative;
  overflow: hidden;
}

.overlay-slide {
  position: absolute;
  top: -1px;
  width: 55vw;
  height: 100%;
  background-color: #000000c9;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
  z-index: 1;
}

.logo-slide {
  position: absolute;
  z-index: 10;
  width: 19%;
  height: 28%;
  background: #000;
  border-radius: 50%;
  top: 32%;
  left: 6%;
  transform: translate(50%, -50%);
}

.carousel-caption {
  right: -36vw;
  left: 0;
  padding-bottom: 230px;
}

.carousel-caption h3 {
  font-size: 4.4vw;
}

@media (max-width: 574px) {
  .carousel-caption {
    padding-bottom: 20px;
  }
}

.img-ads-banner {
  margin-top: 80px;
}

/* .fix-max{
  max-height: 635px;
  overflow: hidden;
} */
.blog .post_time {
  margin: 20px 0 15px;
}

.blog {
  padding: 0;
}

.blogs {
  margin-top: 60px;
}

.blogs p {
  font-size: 13px;
  color: #707070;
  line-height: 21px;
  border: none;
  padding-bottom: 10px;
  border-bottom: 4px solid #ff9801;
}

.blog-content {
  /* margin-bottom: 60px; */
  text-align: center;
  cursor: pointer;
  transition: ease all 0.5s;
}

.blog-content:hover {
  box-shadow: 0 0 25px -17px #000;
}

.content-link, .content-link:hover {
  text-decoration: none;
}

.blogs h4 {
  margin: 10px 0 5px 0;
  color: #000;
  line-height: 21px;
  font-weight: 600;
  text-transform: none;
}

.owl-theme .owl-dots .owl-dot span {
  width: 20px;
  height: 5px;
  margin: 5px 4px;
  background: transparent;
  border: 1px solid #ff9801;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 0;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #ff9801;
}

.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 10px;
  text-align: right;
  margin-right: 10px;
}

.box-img,.image-box{
  width: 100%;
  height: 14.4vw;
  overflow: hidden;
}

@media (max-width: 767px) {
  .box-img,.image-box{
    width: 100%;
    height: auto;
    overflow: hidden;
  }
}
.img-responsive-t{
  width: 100%;
  transform: scale(1.2);
}
.img-responsive-tt{
  width: 100%;
  transform: scale(1.5);
}

.text-title-slide{
  position: absolute;
  z-index: 11;
  width: 35%;
  height: 26%;
  top: 63%;
  left: -13%;
  transform: translate(50%, -50%);
  color: #FFF;
}

@media (max-width: 767px) {
  .text-title-slide{
    display: none;
  }
}
