.banner_section{
  background: url(../../../images/bg/banner.jpg);
  min-height: 245px;
  background-size: cover;
  background-position: center center;
}

.main_heading{
  margin-bottom: 80px;
}


.address{
  margin-top: 100px;
}

.form-contact{
  margin: 100px 0;
}

.form-contact h4{
  margin: 25px 0 15px 0;
}
.form-contact p{
  margin-bottom: 25px;
}

.contact-form .col-sm-6,.contact-form .col-sm-12,.pdd-5{
  /* padding-right: 5px;
  padding-left: 5px; */
}

.contact-form .form-group{
  margin-bottom: 15px;
}

.contact-form input, .contact-form textarea{
  border-radius: 0 !important;
  font-size: 14px;
}

@media (min-width: 992px){
  .rep {
      /* width: 780px;
      max-width: 780px; */
  }
}

.or{
  background-color: #ff9801;
  color: #FFF;
  display: inline-block;
  border-radius: 3rem;
  width: 40px;
  height: 40px;
  font-size: 18px;
  line-height: 38px;
}

.mastercard{
  width: 78px;
  display: block;
  margin-bottom: 20px;
}


.swal2-popup{
  font-size: 1.5rem !important;
}

.box-order{
  background-color: #f1f1f1;
  padding: 10px;
  margin-bottom: 20px;
}

.box-order h2{
  text-decoration: underline;
  margin: 10px 0;
}

.table{
  text-align: left;
  margin-bottom: 0px;
}

.detail{
  text-decoration: underline;
}

.price{
  font-size: 18px;
  font-weight: bold;
}

.pay-detail{
  margin-left: 6px;
  margin-top: 4px;
  color: #828282;
}
