.banner_section{
  background: url(../../../images/bg/banner.jpg);
  min-height: 245px;
  background-size: cover;
  background-position: center center;
}

.banner_section{
  background: url(../../../images/bg/banner.jpg);
  min-height: 245px;
  background-size: cover;
  background-position: center center;
}

.blog .post_time{
  margin: 0 !important;
}

.main_heading{
  margin-bottom: 80px;
}

.menu-tab{
  text-align: left;
}

.menu-tab ul{
  list-style: none;
}

.menu-tab ul li{
  display: inline-block;
}

.container{
  position: relative;
}

.pdd-t-0{
  padding-top:0;
}

.blog-profile{
  position: relative;
  width: 100%;
  margin-bottom: 45px;
  text-align: left;
}

.blog-profile  img{
  margin-top: -58px;
  display: inline-block;
  width: 150px;
  border-radius: 50%;
  border: 4px solid #fff;
}

@media only screen and (max-width: 600px) {
  .blog-profile > img{
    display: block;
    margin: auto;
    margin-top: -35px;
  }
}

.blog-profile > .profile-name{
  display: inline-block;
}

.blog-profile > .profile-name > h2{
  margin: 0;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 15px;
}

.blog-profile > .profile-name > p{
  font-size: 12px;
  margin-left: 15px;
}

.blog-profile > .btn-bottom{
  float: right;
}

.profile-input{
  margin-top: 30px;
}

.profile-input .formLogin{
  padding: 0px;
}

.create-blog{
  cursor: pointer;
  width: 100%;
  height: 200px;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dotted #b7b7b7;
  transition: all .2s ease-out .1s;
}


.create-blog > span{
  font-size: 16px;
  margin-top: -10px;
  margin-right: 5px;
  color: #bbb;
  transition: all .2s ease-out .1s;
}

.create-blog > p{
  margin-top: 1px;
  color: #bbb;
  transition: all .2s ease-out .1s;
}

.create-blog:hover{
  border: 2px dotted #868686;
}

.create-blog:hover > span,.create-blog:hover > p{
  color: #868686;
}

.blog .post_time{
  margin: 20px 0 15px;
}
.post_time p{
  color: #707070;
  line-height: 21px;
  margin: 0;
  font-size: 14px;
}
.blog h4{
  margin: 5px 0 8px 0;
  color: #000;
  line-height: 15px;
  font-size: 16px;
  font-weight: 600;
  text-transform: none;
}
.blog p{
  font-size: 13px;
  color: #707070;
  line-height: 21px;
  /* text-align: justify; */
}

.a-content{
  text-decoration: none !important;
}

.blog-content{
  border-bottom: 3px solid #ff9801;
  transition: all .2s ease-in .1s;
}

.content{
  padding: 10px;
}

.blog-content:hover{
  box-shadow: 0px 0px 5px 0px #c3c3c3;
}

.content > h4{
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content > p{
  height: 4em;
  white-space: wrap;
  text-overflow: ellipsis;
}

.mar-30{
  margin-top: 30px;
}

input[type='file'].form-control{
  border:none;
  box-shadow:unset !important;
  padding-left: 0px;
}

.ck.ck-editor__main>.ck-editor__editable {
    min-height: 200px;
}

.logout{
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}

/*Project Content*/
.service-content{
  margin-top: 40px;
}

.card{
  margin-bottom: 30px;
  min-height: 250px;
}
.card img{
  display: block;
  margin: auto;
  width: 100px;
}
.card h4{
  padding: 0 25px;
  line-height: 40px;
  font-size: 18px;
  color: #000;
  font-weight: 600;
  text-transform: none;
  margin: 30px 0 20px 0;
}

.card h4::first-letter {
  font-size: 350%;
}

.blog .post_time{
  margin: 20px 0 15px;
}
.post_time p{
  color: #707070;
  line-height: 21px;
  margin: 0;
  font-size: 14px;
}
.blog h4{
  margin: 10px 0 15px 0;
  color: #000;
  line-height: 21px;
  font-weight: 600;
  text-transform: none;
}
.blog p{
  font-size: 13px;
  color: #707070;
  line-height: 21px;
  /* text-align: justify; */
}

.service{
  cursor: pointer;
  position: relative;
}

.service-content{
  margin-top: 40px;
}

.service .text-overflow{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #0000009e;
  padding: 15px;
}

.service .text-overflow p{
  font-size: 20px;
  margin: 0;
  color: #ead220;
  line-height: 26px;
}

.service .text-overflow p:last-child{
  font-size: 14px;
}

.service{
  margin-bottom: 30px;
}

.contact_us_section{
  padding: 40px 50px;
  /* margin-top: 80px; */
  float: left;
  width: 100%;
  background: #ff9801;
}


/*project detail*/
.badge-dark {
  background-color: #ff9801;
  font-weight: 500;
  margin-top: 10px;
  /* margin-left: 15px; */
}

.badge-secondary{
  font-weight: 500;
  margin-top: 10px;
  background-color: rgb(0 0 0 / 8%);
  color: black;
}


.img-full {
  width: 100%;
  margin-top: 20px;
}

.h3, h3 {
  font-size: 24px;
  margin-top: 30px;
}

.img-border{
  border: 1px solid #ff980166;
  margin-right: 10px;
  margin-bottom: 10px;
}

.create-section{
  background-color: #e0e0e0bd;
  padding: 15px 10px;
  text-align: center;
  margin-top: 15px;
}

.create-section > p{
  margin: 0;
}

.view{
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
}



/*Tab menu*/
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #ff9801;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ff9801;
  border-bottom-color: transparent;
  border-radius: 0px;
}

a {
  color: #ff9801;
}

.nav-tabs {
  border-bottom: 1px solid #ff9801;
}

.nav-tabs>li>a:hover {
  border-color: #ff9801 #ff9801 #ffff;
  border-radius: 0px;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: #ff9801;
  border-radius: 0px;
}

.a:focus, a:hover {
  color: #ff9801;
  border-radius: 0px;
}

/*Find Job*/

.form-inline{
  margin-top: 15px;
}

#jobtitle{
  border-radius: 0;
  height: 46px;
  margin-top: 5px;
}

#alljob{
  border-radius: 0;
  height: 46px;
  margin-top: 15px;
}

#alllocation{
  border-radius: 0;
  height: 46px !important;
  margin-top: 15px;
  width: 50%;
}

@media only screen and (max-width: 768px) {
  #alllocation{
    width: auto;
    display: inline;
    vertical-align: middle;
  }
}


#btnfindjob{
  border-radius: 0;
  height: 46px;
  background-color: #ff9801;
  border: 1px solid #af6800;
  color: #FFF;
  margin-top: 15px;
}

#btnfindjob:hover{
  background-color: #FFF;
  border: 1px solid #ff9801;
  color: #ff9801;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 200;
  margin-top: 25px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.bi-search{
  padding-top: 3px;
}


/*Create Job*/

#jobtitle2{
  border-radius: 0;
  height: 46px;
}

#joblocation{
  border-radius: 0;
  height: 46px;
}

#salary1{
  border-radius: 0;
  height: 46px;
}

#salary2{
  border-radius: 0;
  height: 46px;
}

#comment{
  margin-top: 30px;
}

.input-group-addon{
  background-color: rgb(112, 109, 109);
  color: #FFF;
}

#jobtype1{
  border-radius: 0;
  height: 46px;
  background-color: #ffffff;
  border: 1px solid #ff9801;
  color: #ff9801;
  margin-top: 15px;
  padding: 12px 30px;
  margin-right: 10px;
}

#jobtype1:hover{
  background-color: #FFF;
  border: 1px solid #9e9d9c;
  color: #9e9d9c;
}

#jobtype2{
  border-radius: 0;
  height: 46px;
  background-color: #ffffff;
  border: 1px solid #9e9d9c;
  color: #9e9d9c;
  margin-top: 15px;
  padding: 12px 30px;
  margin-right: 10px;
  padding-right: 33px;
}

#jobtype2:hover{
  background-color: #FFF;
  border: 1px solid #ff9801;
  color: #ff9801;
}

#jobtype3{
  border-radius: 0;
  height: 46px;
  background-color: #ffffff;
  border: 1px solid #9e9d9c;
  color: #9e9d9c;
  margin-top: 15px;
  padding: 12px 30px;
  margin-right: 10px;
}

#jobtype3:hover{
  background-color: #FFF;
  border: 1px solid #ff9801;
  color: #ff9801;
}

#jobtype4{
  border-radius: 0;
  height: 46px;
  background-color: #ffffff;
  border: 1px solid #9e9d9c;
  color: #9e9d9c;
  margin-top: 15px;
  padding: 12px 30px;
}

#jobtype4:hover{
  background-color: #FFF;
  border: 1px solid #ff9801;
  color: #ff9801;
}

.checkbox1 label{
  margin-top: 25px;
}

#btnsubmit{
  border-radius: 0;
  height: 46px;
  background-color: #ff9801;
  border: 1px solid #af6800;
  color: #FFF;
  padding: 12px 40px;
  margin-top: 80px;
}

#btnsubmit:hover{
  background-color: #FFF;
  border: 1px solid #ff9801;
  color: #ff9801;

}

/*Upload Pic Profile*/
.picture-container{
  position: relative;
  cursor: pointer;
  text-align: center;
  margin-top: 30px;
}
.picture{
  width: 106px;
  height: 106px;
  background-color: #eceaea;
  border: 2px solid #dfdddd;
  color: #FFFFFF;
  border-radius: 50%;
  margin: 0px auto;
  overflow: hidden;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.picture:hover{
  border: 2px solid #eeeeed;
}

.picture input[type="file"] {
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0 !important;
  position: absolute;
  top: 0;
  width: 100%;
}

.picture-src{
  width: 100%;

}



.jumbotron {
  padding-right: 60px;
  padding-left: 60px;
  background-color: #fcf8e3;
  margin-left: 15px;
  margin-right: 15px;

}

#btnjd {
  color: #ff9801;
  background-color: #fcf8e3;
  border-color: #ff9801;
  font-size: 14px;
}

img {
  vertical-align: middle;
  width:80%;
}

.choose p, .about p {
  font-size: 16px;

}

.choose, .blog, .about {
  text-align: center;
  padding-top: 90px;
}

.card img {
  display: block;
  margin: auto;
  width: 75%;
}

img {
  vertical-align: middle;
  width: 75%;
}

.about-content{
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
  padding-bottom: 20px;

}

.pagination{
  margin-top: 100px;
  margin-bottom: 5px;

}

.btnmore {
  color: #504e4e;
  background-color: rgb(255 255 255 / 0%);
  border-color: #fff;
  font-size: larger;

}

.a:focus, a:hover {
  color: #999;
  border-radius: 0px;
}


a:focus, a:hover {
  color: #ff9801;
  text-decoration: none;

}


.btn-default:hover {
  color: #ff9801;
  background-color: #fff;
  border-color: #fff;
}

.btn-default.focus, .btn-default:focus {
  color: #ff9801;
  background-color: #fff;
  border-color: #fff;
}

.more {
  color: #ff9801;
  font-size: medium;
}

hr {
  height: 1px;
  color: #d5d5d5;
  background: #d5d5d5;
  font-size: 0;
  border: 0;
}

.container .jumbotron, .container-fluid .jumbotron{
  margin-top: 20px;
}

.alert-success {
  color: #f71d1d;
  background-color: #fdeaea;
  border-color: #d6e9c6;
  margin-top: 20px;
}


b.salaryrange{
  color: #ff9801;
  font-weight: 300;
}

.result{
  /* text-align: left; */
  font-size: 22px;
  margin: 30px 0;
  text-decoration: underline;
}

.box-title{
  text-align: left;
  font-size: 14px;
  margin: 0;
}

.box-detail{
  text-align: left;
  text-align: left;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.box-detail img{
  width: 100%;
}

.box-detail h3{
  margin: 6px 0;
  font-size: 18px;
  font-weight: bold;
}

.box-detail p{
  margin: 0;
  margin-bottom: 5px;
}

.box-detail .message{
  margin-top: 10px;
}

mark{
 background-color: #ff9801;
 color: #FFF;
}

.text-name{
  color: #007bff;
}
