.banner_section{
  background: url(../../../images/bg/banner.jpg);
  min-height: 245px;
  background-size: cover;
  background-position: center center;
}

.main_heading{
  margin-bottom: 80px;
}

/*Tab menu*/
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: #ff9801;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ff9801;
  border-bottom-color: transparent;
  border-radius: 0px;
}

a {
  color: #ff9801;
}

.nav-tabs {
  border-bottom: 1px solid #ff9801;
}

.nav-tabs>li>a:hover {
  border-color: #ff9801 #ff9801 #ffff;
  border-radius: 0px; 
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: #ff9801;
  border-radius: 0px;
}

.a:focus, a:hover {
  color: #ff9801;
  border-radius: 0px;
}

/*Find Job*/

.form-inline{
  margin-top: 15px;
}

#jobtitle{
  border-radius: 0;
  height: 46px;
  margin-top: 5px;
}

#alljob{
  border-radius: 0;
  height: 46px;
  margin-top: 15px;
}

#alllocation{
  border-radius: 0;
  height: 46px;
  margin-top: 15px;
}

#btnfindjob{
  border-radius: 0;
  height: 46px;
  background-color: #ff9801;
  border: 1px solid #af6800;
  color: #FFF; 
  margin-top: 15px;
}

#btnfindjob:hover{
  background-color: #FFF;
  border: 1px solid #ff9801;
  color: #ff9801; 
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: 200;
  margin-top: 25px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.bi-search{
  padding-top: 3px;
}


/*Create Job*/

#jobtitle2{
  border-radius: 0;
  height: 46px;
}

#joblocation{
  border-radius: 0;
  height: 46px;
}

#salary1{
  border-radius: 0;
  height: 46px;
}

#salary2{
  border-radius: 0;
  height: 46px;
}

#comment{
  margin-top: 30px;
}

.input-group-addon{
  background-color: rgb(112, 109, 109);
  color: #FFF;
}

#jobtype1{
  border-radius: 0;
  height: 46px;
  background-color: #ffffff;
  border: 1px solid #ff9801;
  color: #ff9801; 
  margin-top: 15px;
  padding: 12px 30px;
  margin-right: 10px;
}

#jobtype1:hover{
  background-color: #FFF;
  border: 1px solid #9e9d9c;
  color: #9e9d9c; 
}

#jobtype2{
  border-radius: 0;
  height: 46px;
  background-color: #ffffff;
  border: 1px solid #9e9d9c;
  color: #9e9d9c;
  margin-top: 15px;
  padding: 12px 30px;
  margin-right: 10px;
  padding-right: 33px;
}

#jobtype2:hover{
  background-color: #FFF;
  border: 1px solid #ff9801;
  color: #ff9801; 
}

#jobtype3{
  border-radius: 0;
  height: 46px;
  background-color: #ffffff;
  border: 1px solid #9e9d9c;
  color: #9e9d9c;
  margin-top: 15px;
  padding: 12px 30px;
  margin-right: 10px; 
}

#jobtype3:hover{
  background-color: #FFF;
  border: 1px solid #ff9801;
  color: #ff9801; 
}

#jobtype4{
  border-radius: 0;
  height: 46px;
  background-color: #ffffff;
  border: 1px solid #9e9d9c;
  color: #9e9d9c;
  margin-top: 15px;
  padding: 12px 30px;
}

#jobtype4:hover{
  background-color: #FFF;
  border: 1px solid #ff9801;
  color: #ff9801; 
}

.checkbox label{
  margin-top: 25px;
}

#btnsubmit{
  border-radius: 0;
  height: 46px;
  background-color: #ff9801;
  border: 1px solid #af6800;
  color: #FFF; 
  padding: 12px 40px; 
  margin-top: 80px; 
}

#btnsubmit:hover{
  background-color: #FFF;
  border: 1px solid #ff9801;
  color: #ff9801; 

}

.col-sm-6{
  margin-top: 30px;
  margin-bottom: -15px;
}


.swal2-styled.swal2-confirm{
  background-color: #ff9801 !important;
  border-radius: 0px !important;
  padding: 10px 30px;
  font-size: 12px !important;
}

/*Upload Pic Profile*/
.picture-container{
  position: relative;
  cursor: pointer;
  text-align: center;
  margin-top: 30px;
}
.picture{
  width: 106px;
  height: 106px;
  background-color: #eceaea;
  border: 2px solid #dfdddd;
  color: #FFFFFF;
  border-radius: 50%;
  margin: 0px auto;
  overflow: hidden;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.picture:hover{
  border: 2px solid #eeeeed;
}

.picture input[type="file"] {
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0 !important;
  position: absolute;
  top: 0;
  width: 100%;
}

.picture-src{
  width: 100%;
  
}
/*Profile Pic End*/

/*Range Salary*/
input[type=range] {
  -webkit-appearance: none;
  margin: 20px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animate: 0.2s;
  background: #FFDFA6;
  border-radius: 25px;
}
input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ff9801;
  box-shadow: 0 0 4px 0 rgba(0,0,0, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #FFDFA6;
}






