.custom-file-input::before {

}

.datepicker {
    border-radius: 0px;
}


.fa.disabled, .fa[disabled], fieldset[disabled] .fa {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    opacity: .65;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #ccc !important;
}
