.gallery{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  grid-auto-rows: 250px 150px;
  grid-auto-flow: dense;
  margin-top: 20px;
}

.item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width:480px){
  .item img:first-child{
    grid-area: 1 / 1 / span 2 / span 2;
  }
  .item img:nth-child(3n){
    grid-area: span 2;
  }
}
