.banner_section{
  background: url(../../../images/bg/banner.jpg);
  min-height: 245px;
  background-size: cover;
  background-position: center center;
}

.main_heading{
  margin-bottom: 80px;
}
.about-content{
  text-align: left;
  margin-bottom: 40px;
}

.mar-t{
  margin-top: 40px;
}

.about-content h3{
  margin-top: 0px;
}
.title{
  margin: 30px 0 !important;
}

.about-content p{
  font-size: 14px;
}

.side_bar_blog {
  margin-bottom: 50px;
  float: left;
  width: 100%;
}

.tags ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.tags li{
  float: left;
  margin-right: 8px;
  margin-bottom: 8px;
}
.tags a {
  border: solid 1px #e1e1e1;
  border-radius: 50px;
  padding: 0 18px;
  float: left;
  min-height: 50px;
  line-height: 50px;
  transition: all .3s ease-in-out;
}
.tags a:hover, .tags a:focus {
  text-decoration: none;
  color: #fff !important;
  border: solid #ff9801 1px !important;
  background-color: #ff9801 !important;
}

.tab_bar_section ul.nav.nav-tabs li a{
  font-size: 16px;
  font-weight: 400;
  padding: 0 25px;
  height: 50px;
  border: none !important;
  line-height: 52px;
  background: #f3f3f3;
  border-radius: 0;
  color: #000;
}

.tab_bar_section>.nav-tabs>li.active>a,.tab_bar_section>.nav-tabs>li.active>a:focus,.tab_bar_section>.nav-tabs>li.active>a:hover{
  background: #039ee3 !important;
  color: #fff !important;
  font-size: 16px;
  font-weight: 400;
  padding: 0 25px;
  height: 50px;
  border: none !important;
  line-height: 52px;
  border-radius: 0;
}

.card{
  text-align: left;
}
.card h4{
  color: #000;
  margin: 25px 0;
}

.product_review{
  text-align: left;
}
.commant-text {
    border-bottom: solid #ddd 1px;
    padding-bottom: 25px;
    padding-top: 25px;
}
.commant-text p{
  font-size: 15px;
}
.commant-text .profile {
    text-align: center;
}
.product_review h5 {
    text-transform: none;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
}
.product_review p {
    margin-bottom: 0;
}
.product_review .rating {
    margin-top: 5px;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.product_review .rating i {
    font-size: 13px;
}
.rating i {
    color: #eabe12;
    font-size: 18px;
    margin: 0 -2px;
}
.product_review p.msg {
    margin-top: 10px;
}

.img-c{
  width: 100px !important;
  /* height: 100px !important; */
  border-radius: 5rem !important;
}

.owl-theme .owl-dots .owl-dot span {
  width: 20px;
  height: 5px;
  margin: 5px 4px;
  background: transparent;
  border: 1px solid #ff9801;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 0;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #ff9801;
}

.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 10px;
  text-align: right;
  margin-right: 10px;
}
