.mar-t-30{
  margin-top: 30px;
}
.chat{
  /* margin-top: 10px; */
  border: 1px solid #ccc;
  padding: 0;
}
.chat > .header-chat{
  background-color: #ccc;
  padding: 6px 8px;
  /* color: #FFF; */
  border-bottom: 1px solid #ccc;
}
.chat > .header-chat > p{
  margin: 0;
  /* color: #FFF; */
  font-weight: bold;
  /* text-decoration: underline; */
  /* text-align: right; */
  cursor: pointer;
}
.chat > .body-chat{
  padding: 15px 10px;
  height: 400px;
  overflow-y: scroll;
}

.body-chats{
  width: 100%;
  display: flex;
  position: relative;
}

.own,.sys,.sys-own{
  justify-content: flex-start;
}
.cus,.sys-cus{
  justify-content: flex-end;
}

.h_own,.h_sys,.h_sys-own
{
  justify-content: flex-start;
}

.h_cus,.h_sys-cus
{
  justify-content: flex-end;
  float: right;
}

.h_chat
{
  font-size: 16px;
  margin-top: -10px;
  cursor: pointer;
}


.own-chat,.sys-own-chat
{
  background-color: #d2d6de;
  max-width: 75%;
  padding: 6px 15px;
  /* color: #FFF; */
  border-radius: 1rem;
  margin-bottom: 10px;
  font-size: 16px;
}

.admin-chat
{
  background-color: #009999;
  max-width: 75%;
  padding: 6px 15px;
  color: #FFF;
  border-radius: 1rem;
  margin-bottom: 10px;
  font-size: 16px;
}

.sys-chat,.cus-chat,.sys-cus-chat{
  max-width: 75%;
  background-color: #F5E866;
  padding: 6px 15px;
  /* color: #FFF; */
  border-radius: 1rem;
  margin-bottom: 10px;
  font-size: 16px;
}

.own-chat span,.sys-chat span,.cus-chat span,.sys-cus-chat span,.sys-own-chat span,.admin-chat span{
  display: block;
  text-align: right;
  font-size: 11px;
  margin-top: 10px;
}

.chat-form{
  margin-top: 20px;
}

.file-text,.file-text > a{
  margin: 5px 0 0px 0px;
  font-size: 16px;
  /* color: #FFF !important; */
  text-decoration: underline;
}
