@media print {
  .border-box{
    display: inline-block;
    position: absolute;
    font-weight: bold;
    /* border: 1px solid #000; */
  }

  .box{
    /* border: 1px solid #000; */
    width: 567px;
    position: absolute;
    top:81mm;
    left: 28mm;
  }

  .box-line{
    display: block;
  }

  .padd-10{
    padding-left: 75mm;
    margin-top: -16px;
  }
  .padd-20{
    padding-left: 98mm;
    margin-top: -18px;
  }
  .padd-30{
    padding-left: 130mm;
    margin-top: -18px;
  }

  .font-12{
    font-size: 12;
    font-weight:normal;
  }

  .font-16{
    font-size: 16;
    font-weight:normal;
  }

  .width-235{
    width: 235px;
  }

  .text-center{
    text-align: center;
  }

  .width-90{
    width: 90px;
  }
}
