.banner_section{
  background: url(../../../images/bg/banner.jpg);
  min-height: 245px;
  background-size: cover;
  background-position: center center;
}

.select2
{
  border-radius: 0 !important;
  font-size: 14px;
}

.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
    font-size: 14px;
    height: 35px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 35px;
}

.select2-dropdown {
    border: 1px solid #ccc;
    border-radius: 0px;
}

.banner_section{
  background: url(../../../images/bg/banner.jpg);
  min-height: 245px;
  background-size: cover;
  background-position: center center;
}

.blog .post_time{
  margin: 0 !important;
}

.main_heading{
  margin-bottom: 80px;
}

.menu-tab{
  text-align: left;
}

.menu-tab ul{
  list-style: none;
}

.menu-tab ul li{
  display: inline-block;
}

.container{
  position: relative;
}

.pdd-t-0{
  padding-top:0;
}

.blog-profile{
  position: relative;
  width: 100%;
  margin-bottom: 45px;
  text-align: left;
}

.blog-profile  img{
  margin-top: -58px;
  display: inline-block;
  width: 150px;
  border-radius: 50%;
  border: 4px solid #fff;
}

@media only screen and (max-width: 600px) {
  .blog-profile > img{
    display: block;
    margin: auto;
    margin-top: -35px;
  }
}

.blog-profile > .profile-name{
  display: inline-block;
}

.blog-profile > .profile-name > h2{
  margin: 0;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 15px;
}

.blog-profile > .profile-name > p{
  font-size: 12px;
  margin-left: 15px;
}

.blog-profile > .btn-bottom{
  float: right;
}

.profile-input{
  margin-top: 30px;
}

.profile-input .formLogin{
  padding: 0px;
}

@media only screen and (max-width: 768px) {
  .formLogin{
    padding: 0px !important;
  }
}

.create-blog{
  cursor: pointer;
  width: 100%;
  height: 200px;
  background-color: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dotted #b7b7b7;
  transition: all .2s ease-out .1s;
}


.create-blog > span{
  font-size: 16px;
  margin-top: -10px;
  margin-right: 5px;
  color: #bbb;
  transition: all .2s ease-out .1s;
}

.create-blog > p{
  margin-top: 1px;
  color: #bbb;
  transition: all .2s ease-out .1s;
}

.create-blog:hover{
  border: 2px dotted #868686;
}

.create-blog:hover > span,.create-blog:hover > p{
  color: #868686;
}

.blog .post_time{
  margin: 20px 0 15px;
}
.post_time p{
  color: #707070;
  line-height: 21px;
  margin: 0;
  font-size: 14px;
}
.blog h4{
  margin: 5px 0 8px 0;
  color: #000;
  line-height: 15px;
  font-size: 16px;
  font-weight: 600;
  text-transform: none;
}
.blog p{
  font-size: 13px;
  color: #707070;
  line-height: 21px;
  /* text-align: justify; */
}

.a-content{
  text-decoration: none !important;
}

.blog-content{
  border-bottom: 3px solid #ff9801;
  transition: all .2s ease-in .1s;
}

.content{
  padding: 10px;
}

.blog-content:hover{
  box-shadow: 0px 0px 5px 0px #c3c3c3;
}

.content > h4{
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content > p{
  height: 4em;
  white-space: wrap;
  text-overflow: ellipsis;
}

.mar-30{
  margin-top: 30px;
}

input[type='file'].form-control{
  border:none;
  box-shadow:unset !important;
  padding-left: 0px;
}

.ck.ck-editor__main>.ck-editor__editable {
    min-height: 200px;
}

.logout{
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
}

/*Project Content*/
.service-content{
  margin-top: 40px;
}

.card{
  margin-bottom: 30px;
  min-height: 250px;
}
.card img{
  display: block;
  margin: auto;
  width: 100px;
}
.card h4{
  padding: 0 25px;
  line-height: 40px;
  font-size: 18px;
  color: #000;
  font-weight: 600;
  text-transform: none;
  margin: 30px 0 20px 0;
}

.card h4::first-letter {
  font-size: 350%;
}

.blog .post_time{
  margin: 20px 0 15px;
}
.post_time p{
  color: #707070;
  line-height: 21px;
  margin: 0;
  font-size: 14px;
}
.blog h4{
  margin: 10px 0 15px 0;
  color: #000;
  line-height: 21px;
  font-weight: 600;
  text-transform: none;
}
.blog p{
  font-size: 13px;
  color: #707070;
  line-height: 21px;
  /* text-align: justify; */
}

.service{
  cursor: pointer;
  position: relative;
}

.service-content{
  margin-top: 40px;
}

.service .text-overflow{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #0000009e;
  padding: 15px;
}

.service .text-overflow p{
  font-size: 20px;
  margin: 0;
  color: #ead220;
  line-height: 26px;
}

.service .text-overflow p:last-child{
  font-size: 14px;
}

.service{
  margin-bottom: 30px;
}

.contact_us_section{
  padding: 40px 50px;
  /* margin-top: 80px; */
  float: left;
  width: 100%;
  background: #ff9801;
}


/*project detail*/
.badge-dark {
  background-color: #333;
  font-weight: 500;
  margin-top: 10px;
  /* margin-left: 15px; */
}

.badge-secondary{
  font-weight: 500;
  margin-top: 10px;
  background-color: rgb(0 0 0 / 8%);
  color: black;
}


.img-full {
  width: 100%;
  margin-top: 30px;
}

.h3, h3 {
  font-size: 24px;
  margin-top: 30px;
}

.img-border{
  border: 1px solid #ff980166;
  margin-right: 10px;
  margin-bottom: 10px;
}

.create-section{
  background-color: #e0e0e0bd;
  padding: 15px 10px;
  text-align: center;
  margin-top: 15px;
}

.create-section > p{
  margin: 0;
}

.view{
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
}

.person{
  cursor: pointer;
}

.overlay{
  opacity: 0.2;
}

.blog-profile img {
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .blog-profile img {
    display: block;
    margin: auto;
    margin-top: 20px;
  }
}

.mar-t-30{
  margin-top: 30px;
}
.chat{
  margin-top: 20px;
  border: 1px solid #ff9801;
}
.chat > .header-chat{
  background-color: #ff9801;
  padding: 6px 8px;
  color: #FFF;
  border-bottom: 1px solid;
}
.chat > .header-chat > p{
  margin: 0;
  color: #FFF;
  font-weight: bold;
  text-decoration: underline;
  /* text-align: right; */
  cursor: pointer;
}
.chat > .body-chat{
  padding: 15px 10px;
  height: 280px;
  overflow-y: scroll;
}

.body-chats{
  width: 100%;
  display: flex;
  position: relative;
}

.own,.sys,.sys-own{
  justify-content: flex-start;
}
.cus,.sys-cus{
  justify-content: flex-end;
}

.own-chat,.cus-chat,.sys-chat,.sys-cus-chat,.sys-own-chat{
  max-width: 75%;
  background-color: #ff9801;
  padding: 6px 15px;
  color: #FFF;
  border-radius: 1rem;
  margin-bottom: 10px;
  font-size: 12px;
}

.own-chat span,.sys-chat span,.cus-chat span,.sys-cus-chat span,.sys-own-chat span{
  display: block;
  text-align: right;
  font-size: 9px;
  margin-top: 10px;
}

.chat-form{
  margin-top: 20px;
}

.file-text,.file-text > a{
  margin: 5px 0 0px 0px;
  color: #FFF !important;
  text-decoration: underline;
}

.admin-chat{
  max-width: 75%;
  background-color: #000000;
  padding: 6px 15px;
  color: #FFF;
  border-radius: 1rem;
  margin-bottom: 10px;
  font-size: 12px;
}

.admin-chat i{
  display: block;
  font-size: 9px;
  margin-top: 10px;
}
