.timeline ul, .timelineli{
  list-style: none;
  padding: 0;
}

.timeline .sessions{
  margin-top: 2rem;
  border-radius: 12px;
  position: relative;
}
.timeline li{
  padding-bottom: 1.5rem;
  border-left: 1px solid #ff9801;
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
}

.timeline li:last-child{
  border: 0px;
  padding-bottom: 0;
}
.timeline li:before{
  content: '';
  width: 15px;
  height: 15px;
  background: white;
  border: 1px solid #ff9801;
  box-shadow: 3px 3px 0px #ff9801;
  box-shadow: 3px 3px 0px #ff9801;
  border-radius: 50%;
  position: absolute;
  left: -10px;
  top: 0px;
}


.timeline .time{
  color: #2a2839;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: .9rem;
  /* @include mobile-and-up{
    font-size: .9rem;
  } */
  /* @include mobile-only{
    margin-bottom: .3rem;
    font-size: 0.85rem;
  } */
  margin-bottom: 7px;
}
.timeline p{
  color: #4f4f4f;
  font-family: sans-serif;
  line-height: 1.5;
  margin-top:0.4rem;
  /* @include mobile-only{
    font-size: .9rem;
  } */
}

.timeline{
  width: 100%;
  height: 300px;
  overflow-y: scroll;
}
