.banner_section{
  background: url(../../../images/bg/banner.jpg);
  min-height: 245px;
  background-size: cover;
  background-position: center center;
}

.main_heading{
  margin-bottom: 80px;
}


.address{
  margin-top: 100px;
}

.form-contact{
  margin: 100px 0;
}

.form-contact h4{
  margin: 25px 0 15px 0;
}
.form-contact p{
  margin-bottom: 25px;
}

.contact-form .col-sm-6,.contact-form .col-sm-12{
  padding-right: 5px;
  padding-left: 5px;
}

.contact-form .form-group{
  margin-bottom: 15px;
}

.contact-form input, .contact-form textarea{
  border-radius: 0 !important;
  font-size: 14px;
}

@media (min-width: 992px){
  .rep {
      width: 780px;
      max-width: 780px;
  }
}
