.banner_section{
  background: url(../../../images/bg/banner.jpg);
  min-height: 245px;
  background-size: cover;
  background-position: center center;
}

.main_heading{
  margin-bottom: 80px;
}

.blog .post_time{
  margin: 20px 0 15px;
}

.blog{
  padding: 0;
}

.post_time p{
  color: #707070;
  line-height: 21px;
  margin: 0;
  font-size: 14px;
}
.blog h4{
  margin: 10px 0 15px 0;
  color: #000;
  line-height: 21px;
  font-weight: 600;
  text-transform: none;
}
.blog p{
  font-size: 13px;
  color: #707070;
  line-height: 21px;
  border: none;
  padding-bottom: 10px;
  border-bottom: 4px solid #ff9801;
}

.blog-content{
  margin-bottom: 60px;
  text-align: center;
  cursor: pointer;
  transition: ease all 0.5s;
}

.blog-content:hover{
  box-shadow: 0 0 25px -17px #000;
}

.about-content h3{
  margin-top: 0;
}

.tags ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.tags li{
  float: left;
  margin-right: 8px;
  margin-bottom: 8px;
}
.tags a {
  border: solid 1px #e1e1e1;
  border-radius: 50px;
  padding: 0 18px;
  float: left;
  min-height: 50px;
  line-height: 50px;
  transition: all .3s ease-in-out;
}
.tags a:hover, .tags a:focus,.tag-active{
  text-decoration: none;
  color: #fff !important;
  border: solid #ff9801 1px !important;
  background-color: #ff9801 !important;
}
.content-link,.content-link:hover{
  text-decoration: none;
}
