.banner_section{
  background: url(../../../images/bg/banner.jpg);
  min-height: 245px;
  background-size: cover;
  background-position: center center;
}

.main_heading{
  margin-bottom: 80px;
}
.about-content{
  text-align: left;
}

.about-content p{
  font-size: 14px;
}
