@media print {
  .border-box{
    display: inline-block;
    position: absolute;
    font-weight: bold;
    /* border: 1px solid #000; */
  }

  .font-12{
    font-size: 12;
    font-weight:normal;
  }

  .font-16{
    font-size: 16;
    font-weight:normal;
  }

  .width-235{
    width: 235px;
  }

  .text-center{
    text-align: center;
  }

  .width-90{
    width: 90px;
  }
}
